@use '../../styles/variables.scss' as *;

main {
  flex-grow: 1;
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;

  @media (max-width: $breakpoint-xs) {
    padding: 0 0.6rem;
  }
}

#header {
  min-height: $header-height;
  display: flex;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1.25rem;

  @media (max-width: $breakpoint-xs) {
    padding: 0 0.6rem;
  }
}

.sidebar {
  height: 100%;
  z-index: 500;
  background-color: $background-color;
  padding: 0 1.5rem;
  position: fixed;
  width: 300px;
  top: 0;
  bottom: 0;

  &__top {
    height: $header-height;
    display: flex;
    align-items: center;
  }

  &__menu-wrapper {
    padding: 1.5rem 0;

    &__menu-item {
      list-style-type: none;
      margin-bottom: 0.5rem;

      &__link {
        text-decoration: none;
        color: $default-text-color;
        transition: font-weight 0.1s;
        font-size: 1.1rem;

        &.active {
          font-weight: bold;
        }
      }
    }
  }

  @media (min-width: $breakpoint-xs) {
    border-right: solid 1px $border-color;
  }

  @media (max-width: $breakpoint-xs) {
    padding: 0 0.6rem;
    width: 100%;
  }

  &--closed {
    left: -100%;
    transition: left 1s;
  }

  &--open {
    left: 0;
    transition: left 1s;
  }
}
